:root {
  --c-body-font-clr: #000;
  --c-primary-focus-color: #03a9f5;
  --c-primary-anchor-clr: #03a9f5;
  --c-primary-btn-bg: #f0483e;
  --c-white: #fff;
  --c-zsh-place-fontcolor: #878787;
  --c-zf-hover: #f6f8fb;
  --c-highlight: #448ff7;
  --c-primary-color: #272f43;
  --c-top-bar-color: #262f45;
  --c-cta: #1ab394;
  --c-cta-padding: 12px 20px;
  --c-dark-text: #333333;
  --c-text-color: #272f43;
  --c-b-radius: 3px;
  --c-fontsize14: 14px;
  --c-fontsize16: 16px;
  --c-fontsize12: 12px;
  --c-gray: #555555;
  --c-body-bg: #f5f6f8;
  --c-discard: #a8a8a8;
  --c-gray-100: #ececec;
  --c-gray-60: #9d9d9d;
  --c-gray-50: #f5f6f8;
  --c-gray-10: #bbbbbb;
  --c-gray-200: #d6d4d4;
  --c-light-gray: #f4f4f4;
  --c-dark-blue-gray: #464d5d;
  --c-charcoal-blue: #464d5d;
  --c-sonic-silver: #7c7c7c;
  --c-light-black: rgba(0, 0, 0, 0.7);
  --c-silver-gray: #d3d3d3;
  --c-corl: #ff6347;
  --c-off-gray: #fafafa;
  --c-mist-slate: #dddddd80;
  --c-dark-charcoal: #333;
  --c-soft-silver: #e3e3e3;
  --c-granite-gray: #848484;
  --c-red: red;
  --c-teal: #20a58a;
  --c-celadon-green: #52ad93;
  --c-dodger-blue: #2680eb;
  --c-alice-blue: #edf4fd;
  --c-border-gray: #ddd;
  --c-pale-gray: #eee;
  --c-vibrant-red: #ef4c4c;
  --c-aliceBlue: #ecf4fe;
  --c-mintcream: #eef6f5;
  --c-drak-sea-green: #88bcaa;
  --c-keppel: #36bc9e;
}

ul li {
  list-style: none;
}

.tree {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 46px;
  position: relative;
}

.tree .parent {
  position: relative;
  padding-block: 4px;
}

.tree .parent::before,
.tree .parent::after {
  content: "";
  position: absolute;
}

.tree .parent::before {
  width: 18px;
  top: 15px;
  left: -18px;
  border-bottom: 3px solid yellowgreen;
}

.tree .parent::after {
  display: block;
  width: 0;
  top: 0;
  left: -27.5px;
  height: 39px;
  border-left: 3px solid yellowgreen;
  bottom: 0;
}

.tree .parent:last-child::after {
  height: 5px;
  bottom: auto;
}

.tree .parent::after {
  height: 100%;
  top: 23px;
}

.tree details[open] > .parent::before,
.tree details[open] > .nested-item::after {
  border-left-color: yellowgreen;
}

.tree .parent.parent:last-child::after {
  content: none;
  bottom: auto;
}

.tree details {
  margin: 0 auto;
}

.details > .nested-list {
  padding: 15px;
}

.tree summary {
  display: block;
  position: relative;
  cursor: pointer;
  background: lightblue;
  width: fit-content;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}

.tree summary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 14px;
  height: 14px;
  text-align: center;
  color: var(--c-gray-200);
  border: 3px solid yellowgreen;
  border-radius: 50%;
  background-color: var(--c-white);
  z-index: 10;
}

.tree details[open] > summary::before {
  content: "";
  border: 3px solid yellowgreen;
  color: var(--c-drak-sea-green);
}

.tree details[open] > .tree.parent::after {
  display: block;
  width: 0;
  top: 0;
  left: -27.5px;
  height: 39px;
  border-left: 3px solid yellowgreen;
  bottom: 0;
}

.tree .nested-list {
  padding: 0 0 0 45px;
}

.tree .nested-item {
  position: relative;
  padding: 10px 0 0 0;
  margin-top: 0;
}

.tree .nested-item::before,
.tree .nested-item::after {
  content: "";
  position: absolute;
  left: -17px;
}

.tree .nested-item::before {
  width: 28px;
  top: 18px;
  left: -27px;
  border-bottom: 3px solid yellowgreen;
}

.tree .nested-item::after {
  display: block;
  width: 0;
  top: 0;
  left: -27px;
  height: 45px;
  height: 100%;
  border-left: 3px solid yellowgreen;
  bottom: 0;
}

.tree .nested-item:last-child::after {
  top: 0px;
  height: 19px;
  bottom: auto;
}

.tree .label {
  display: inline-block;
  font-size: 10px;
  padding-inline: 3px;
  color: #929292;
  margin-right: 10px;
  border: 3px solid yellowgreen;
}

.tree-title {
  font-size: 12px;
}

.tree-title:hover {
  color: var(--c-keppel);
  cursor: pointer;
}

.last-item-child {
  background: #88bcaa;
  width: fit-content;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  margin-top: -.1rem;
  font-size: .9rem;
}
